!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    %main#main.main
      - if flash[:notice]
        #notice.notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.warning.message= flash[:warning]

      - if current_user
        Signed in as
        %strong= current_user.name
        !
        = link_to "Sign out", signout_path, id: "sign_out"
      - else
        = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in"
      = yield
      
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
