!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title Set Card Game
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %main#main.main
      - if flash[:notice]
        #notice.notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.warning.message= flash[:warning]

      = render :partial => 'shared/signon'

